* {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: #e2ef70;
}


body,
html {
  min-height: 100vh;
  height: 100%;
  background-color: #2A7B9B;
}

img {
  max-width: 100%;
}

button {
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  padding: .8rem 1.5rem;
  background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
  border-radius: 3rem;
  border: none;
}

button:hover {
  background: linear-gradient(90deg,rgba(237, 221, 83, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(42, 123, 155, 1) 100%);
}